/home/dzubke/awni_speech/speech-lfs/examples/librispeech/models/ctc_models/20210106/ph5/best_model_state_dict.pth filter=lfs diff=lfs merge=lfs -text
/home/dzubke/awni_speech/speech-lfs/examples/librispeech/models/ctc_models/20210106/ph5/ckpt_model_state_dict.pth filter=lfs diff=lfs merge=lfs -text
/home/dzubke/awni_speech/speech-lfs/examples/librispeech/models/ctc_models/20210106/ph5/model_state_dict.pth filter=lfs diff=lfs merge=lfs -text
